html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff9f0;
    color: #080808;
    display: flex;
    flex-direction: column;
}

header {
    background: #d69244;
    padding: 35px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.banner {
    background: url('images/pet.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 20px 100px 20px;
    text-align: center;
    color: white;
    height: 100vh;
}

.banner h2 {
    font-size: 3rem;
    font-weight: bold;
}

.banner .btn {
    background-color: #218838;
    padding: 12px 35px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #2eb94e;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.6);
    color: #fff;
}

.btn:active {
    transform: scale(1);
    background-color: #218838;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.scroll-text {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
}

.scroll-text-wrapper {
    display: flex;
    animation: scroll-left 30s linear infinite;
}

.scroll-item {
    display: inline-block;
    padding-right: 50px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

footer {
    background: #d69244;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 1rem;
}

.scroll-down {
    display: block;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    animation: bounce 2s infinite, colorchange 3s infinite;
}

@keyframes colorchange {
    0% {
        color: #218838;
    }

    50% {
        color: #f56c42;
    }

    100% {
        color: #218838;
    }
}
